/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! For example - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */

.MMM-Census .header {
  color: #50F8F4;                    /* Color the information text. Default is white. */
  text-align: center;                /* Align the information text. (left, center, right) */
  /*  display: none; */              /* Uncomment if you don't want information text */
}
 
.MMM-Census .age {
  color: white;                      /* Color the information text. Default is white. */
  text-align: center;                /* Align the information text. (left, center, right) */
  /*  display: none; */              /* Uncomment if you don't want information text */
}

.MMM-Census .females {
  color: #ff69b4;                    /* Color the females. Default is white. */
  text-align: center;                /* Align the females. (left, center, right) */
/*  display: none; */                /* Uncomment if you don't want females */
}

.MMM-Census .males {
  color: #00AFFF;                    /* Color the males. Default is white. */
  text-align: center;                /* Align the males. (left, center, right) */
/*  display: none; */                /* Uncomment if you don't want males */
}

.MMM-Census .country {
  color: yellow;                     /* Color the country. Default is white. */
  text-align: center;                /* Align the country. (left, center, right) */
/*  display: none; */                /* Uncomment if you don't want country */
}

.MMM-Census .agtotal {
  color: yellow;                     /* Color the agtotal. Default is white. */
  text-align: center;                /* Align the agtotal. (left, center, right) */
/*  display: none; */                /* Uncomment if you don't want agtotal */
}

.MMM-Census .spacer {
  color: #50F8F4;                    /* Color the spacer. Default is white. */
  text-align: center;                /* Align the spacer. (left, center, right) */
/*  display: none; */                /* Uncomment if you don't want spacer */
}

.MMM-Census .WPTdate {
  color: white;                      /* Color the date. Default is white. */
  text-align: center;                /* Align the date. (left, center, right) */
/*  display: none; */                /* Uncomment if you don't want date */
}

.MMM-Census .popToday {
  color: yellow;                     /* Color the population. Default is white. */
  text-align: center;                /* Align the population. (left, center, right) */
/*  display: none; */                /* Uncomment if you don't want population */
}

.MMM-Census .date {
  color: white;                      /* Color the date. Default is white. */
  text-align: center;                /* Align the date. (left, center, right) */
/*  display: none; */                /* Uncomment if you don't want date */
}

.MMM-Census .popTomorrow {
  color: yellow;                     /* Color the population. Default is white. */
  text-align: center;                /* Align the population. (left, center, right) */
/*  display: none; */                /* Uncomment if you don't want population */
}

.MMM-Census .growth {
  color: red;                        /* Color the growth. Default is white. */
  text-align: center;                /* Align the growth. (left, center, right) */
/*  display: none; */                /* Uncomment if you don't want growth */
}